*.bak
*.build
*.csproj
*.csproj.user
*.db-journal
*.dll.build
*.DS_Store
*.hg
*.log
*.mdb
*.mdp
*.mds
*.pdb
*.StyleCop
*.suo
*.userprefs
*.VisualState.xml
*.vshost.*
*/*/*/*/*/*/*/bin
*/*/*/*/*/*/*/obj
*/*/*/*/*/*/bin
*/*/*/*/*/*/obj
*/*/*/*/*/bin
*/*/*/*/*/obj
*/*/*/*/bin
*/*/*/*/obj
*/*/*/bin
*/*/*/obj
*/*/bin
*/*/obj
*StyleCop.Cache
*~
.hgignore
.hgtags
.project
.settings

compile.*.bat
compile.bat
compilex64.vs2010.bat
debug/*
doxygen.error.log
Examples/*.dll
hgrc
Makefile.local
Prebuild/Prebuild.build
Prebuild/Prebuild.sln
TAGS
TestResult.xml
WhiteCore.build
WhiteCore.sln
WhiteCore.sln.cache

# Addons

addon-modules/*/

# Binary

WhiteCoreSim/bin/*.log
WhiteCoreSim/bin/*/WhiteCore.*.dll
WhiteCoreSim/bin/.version
WhiteCoreSim/bin/WhiteCore.*.dll
WhiteCoreSim/bin/WhiteCore.*.exe
WhiteCoreSim/bin/WhiteCore.exe

# This is dependant upon x86/x64 and created at runtime
WhiteCoreSim/bin/ode.dll

# Data files

WhiteCoreSim/Data/AssetCache/*
WhiteCoreSim/Data/AvatarArchives/*
WhiteCoreSim/Data/Banker.txt
WhiteCoreSim/Data/FileAssets/*
WhiteCoreSim/Data/Governor.txt
WhiteCoreSim/Data/OarFiles/*
WhiteCoreSim/Data/Marketplace.txt
WhiteCoreSim/Data/RealEstate.txt
WhiteCoreSim/Data/RegionBak/*.sim
WhiteCoreSim/Data/Region/*.sim
WhiteCoreSim/Data/ScriptEngines/*-*-*-*-*
WhiteCoreSim/Data/ScriptEngines/*.dll
WhiteCoreSim/Data/ScriptEngines/*/*.dll
WhiteCoreSim/Data/ScriptEngines/*/*.state
WhiteCoreSim/Data/SQLite/*.db
WhiteCoreSim/Data/SystemEstate.txt
WhiteCoreSim/Data/UserArchives/*

# Documentation

WhiteCoreDocs/
