*.hg
.hgignore
.hgtags
hgrc

*.bak
*.build
#*.command
*.csproj
*.csproj.user
*.db-journal
#*.dll
*.dll.build
*.DS_Store
*.log
*.mdb
*.mdp
*.mds
*.pdb
*.pidb
*.userprefs
*.VisualState.xml
*.vshost.*
*/*/*/*/*/*/*/bin
*/*/*/*/*/*/*/obj
*/*/*/*/*/*/bin
*/*/*/*/*/*/obj
*/*/*/*/*/bin
*/*/*/*/*/obj
*/*/*/*/bin
*/*/*/*/obj
*/*/*/bin
*/*/*/obj
*/*/bin
*/*/obj
*~
.project
.settings
addon-modules/*/
WhiteCore.build
WhiteCore.sln
WhiteCore.sln.cache
WhiteCore.suo
WhiteCore.v11.suo
WhiteCoreDocs/doxygen/

WhiteCoreSim/Data/AssetCache/*
WhiteCoreSim/Data/Region/*.sim
WhiteCoreSim/Data/RegionBak/*.sim
WhiteCoreSim/Data/SQLite/*.db

WhiteCoreSim/Data/ScriptEngines/*-*-*-*-*
WhiteCoreSim/Data/ScriptEngines/*.dll
WhiteCoreSim/Data/ScriptEngines/*/*.dll
WhiteCoreSim/Data/ScriptEngines/*/*.state
WhiteCoreSim/Data/RealEstateUser.txt

WhiteCoreSim/bin/*.log
WhiteCoreSim/bin/WhiteCore.exe
WhiteCoreSim/bin/WhiteCore.*.exe
WhitecoreSim/bin/WhiteCore.*.dll
WhiteCoreSim/bin/*/WhiteCore.*.dll

#bin/*.abackup
#bin/*.db
#bin/*.dll
#bin/*.dll.mdb
#bin/*.exe
#bin/*.ini
#bin/*.ini.old
#bin/*.log
#bin/*.maddin
#bin/*.manifest
#bin/*.pdb
#bin/*.sim
#bin/.version
#bin/addin-db-*
#bin/assetcache
#bin/WhiteCore.version
#bin/crashes/
#bin/Debug/*.dll
#bin/DefaultInventory
#bin/estate_settings.xml
#bin/Physics*
#bin/Regions/*
#bin/Terrain*
#bin/UserAssets
compile.*.bat
compile.bat
compilex64.vs2010.bat
doxygen.error.log
Examples/*.dll
Makefile.local
Prebuild/Prebuild.build
Prebuild/Prebuild.sln
TAGS
TestResult.xml
*StyleCop.Cache
debug/*

