@CHARSET "UTF-8";

/* Avatar Archive Carousel */
.jcarousel-wc .jcarousel-container {
    background: transparent;
	width: 80%;
	height: 170px;
}

/* ==========================================================================
Carousel
========================================================================== */
.jcarousel-wc .jcarousel-clip {overflow: hidden;}
.jcarousel-wc .jcarousel-clip-horizontal {width: 100%; height: 170px;}

.jcarousel-wc .jcarousel-item-horizontal {margin-left: 0px; margin-right: 0px;}
.jcarousel-wc .jcarousel-direction-rtl .jcarousel-item-horizontal {margin-left: 0px; margin-right: 0px;}
.jcarousel-wc .jcarousel-item-placeholder {background: #111;  color: #aaa;}

/* Avatar Archive Carousel Buttons */
.jcarousel-wc .jcarousel-next-horizontal {
    position: absolute;
    top: 80px;
    right: -13px;
    width: 16px;
    height: 18px;
  padding: 2px;
    cursor: pointer;
  font-size: 10px;
  color: #abe0e0 ;
  background: #406580;
  border: 0px solid #111;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #111 0 0 .25em;
    -moz-box-shadow: #111 0 0 .25em;
    box-shadow: #111 0 0 .25em;
  behavior: url(../../css/pie.htc);
}

.next-horiz {
    position: relative;
  float: right;
    top: 80px;
    right: -6px;
    width: 22px;
    height: 20px;
  padding: 2px;
    cursor: pointer;
  font-size: 20px;
  color: #abe0e0 ;
  background: #406580;
  border: 0px solid #111;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #111 0 0 .25em;
    -moz-box-shadow: #111 0 0 .25em;
    box-shadow: #111 0 0 .25em;
  behavior: url(../../css/pie.htc);

}

.jcarousel-wc .jcarousel-direction-rtl .jcarousel-next-horizontal {
  left: 25px; right: auto; color: #406580;
}

.jcarousel-wc .jcarousel-next-horizontal:hover,
.jcarousel-wc .jcarousel-next-horizontal:focus {color: #9A9E68;}

.jcarousel-wc .jcarousel-next-horizontal:active {color: #abe0e0 ;}

.jcarousel-wc .jcarousel-next-disabled-horizontal,
.jcarousel-wc .jcarousel-next-disabled-horizontal:hover,
.jcarousel-wc .jcarousel-next-disabled-horizontal:focus,
.jcarousel-wc .jcarousel-next-disabled-horizontal:active {cursor: default;}

.jcarousel-wc .jcarousel-prev-horizontal {
    position: absolute;
    top: 80px;
    left: -15px;
    width: 16px;
    height: 18px;
  padding: 2px;
    cursor: pointer;
  font-size: 10px;
  color: #abe0e0 ;
  background: #406580;
  border: 0px solid #111;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #111 0 0 .25em;
    -moz-box-shadow: #111 0 0 .25em;
    box-shadow: #111 0 0 .25em;
  behavior: url(../../css/pie.htc);
}

.prev-horiz {
    position: relative;
  float: left;
    top: 80px;
    left: -6px;
    width: 22px;
    height: 20px;
  padding: 2px;
    cursor: pointer;
  font-size: 20px;
  color: #abe0e0 ;
  background: #406580;
  border: 0px solid #111;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #111 0 0 .25em;
    -moz-box-shadow: #111 0 0 .25em;
    box-shadow: #111 0 0 .25em;
  behavior: url(../../css/pie.htc);
}
.jcarousel-wc .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto; right: 5px; color: #406580;
}

.jcarousel-wc .jcarousel-prev-horizontal:hover,
.jcarousel-wc .jcarousel-prev-horizontal:focus {color: #9A9E68;}

.jcarousel-wc .jcarousel-prev-horizontal:active {color: #abe0e0 ;}
.jcarousel-wc .jcarousel-prev-disabled-horizontal,
.jcarousel-wc .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-wc .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-wc .jcarousel-prev-disabled-horizontal:active
{cursor: default; background-position: -96px 0;}


/* Profiles Carousel (Big Size) */
.jcarousel-wc-bigsize .jcarousel-container {
    background: transparent;
  width: 938px;
  height: 278px;
}

.jcarousel-wc-bigsize .jcarousel-clip {overflow: hidden;}
.jcarousel-wc-bigsize .jcarousel-clip-horizontal {width: 100%; height: 278px;}

.jcarousel-wc-bigsize .jcarousel-item-horizontal {margin-left: 0px; margin-right: 0px;}
.jcarousel-wc-bigsize .jcarousel-direction-rtl .jcarousel-item-horizontal {margin-left: 0px; margin-right: 0px;}
.jcarousel-wc-bigsize .jcarousel-item-placeholder {background: #111;  color: #aaa;}

/* Profiles Carousel Buttons - Groups, Picks*/
.jcarousel-wc-bigsize .jcarousel-next-horizontal {
    position: absolute;
    top: 128px;
    right: -13px;
    width: 16px;
    height: 18px;
  padding: 2px;
    cursor: pointer;
  font-size: 10px;
  color: #abe0e0 ;
  background: #406580;
  border: 0px solid #111;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #111 0 0 .25em;
    -moz-box-shadow: #111 0 0 .25em;
    box-shadow: #111 0 0 .25em;
  behavior: url(../../css/pie.htc);
}

.next-horiz-big {
    position: relative;
  float: right;
    top: 128px;
    right: -6px;
    width: 16px;
    height: 18px;
  padding: 2px;
    cursor: pointer;
  font-size: 10px;
  color: #abe0e0 ;
  background: #406580;
  border: 0px solid #111;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #111 0 0 .25em;
    -moz-box-shadow: #111 0 0 .25em;
    box-shadow: #111 0 0 .25em;
  behavior: url(../../css/pie.htc);
}

.jcarousel-wc-bigsize .jcarousel-direction-rtl .jcarousel-next-horizontal {
  left: 5px; right: auto; color: #406580;
}

.jcarousel-wc-bigsize .jcarousel-next-horizontal:hover,
.jcarousel-wc-bigsize .jcarousel-next-horizontal:focus {color: #9A9E68;}

.jcarousel-wc-bigsize .jcarousel-next-horizontal:active {color: #abe0e0 ;}

.jcarousel-wc-bigsize .jcarousel-next-disabled-horizontal,
.jcarousel-wc-bigsize .jcarousel-next-disabled-horizontal:hover,
.jcarousel-wc-bigsize .jcarousel-next-disabled-horizontal:focus,
.jcarousel-wc-bigsize .jcarousel-next-disabled-horizontal:active {cursor: default;}

.jcarousel-wc-bigsize .jcarousel-prev-horizontal {
    position: absolute;
    top: 128px;
    left: -15px;
    width: 16px;
    height: 18px;
  padding: 2px;
    cursor: pointer;
  font-size: 10px;
  color: #abe0e0 ;
  background: #406580;
  border: 0px solid #111;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #111 0 0 .25em;
    -moz-box-shadow: #111 0 0 .25em;
    box-shadow: #111 0 0 .25em;
  behavior: url(../../css/pie.htc);
}

.prev-horiz-big {
    position: relative;
  float: left;
    top: 128px;
    left: -6px;
    width: 16px;
    height: 18px;
  padding: 2px;
    cursor: pointer;
  font-size: 10px;
  color: #abe0e0 ;
  background: #406580;
  border: 0px solid #111;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: #111 0 0 .25em;
    -moz-box-shadow: #111 0 0 .25em;
    box-shadow: #111 0 0 .25em;
  behavior: url(../../css/pie.htc);
}

.jcarousel-wc-bigsize .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto; right: 5px; color: #406580;
}

.jcarousel-wc-bigsize .jcarousel-prev-horizontal:hover,
.jcarousel-wc-bigsize .jcarousel-prev-horizontal:focus {color: #9A9E68;}

.jcarousel-wc-bigsize .jcarousel-prev-horizontal:active {color: #abe0e0 ;}
.jcarousel-wc-bigsize .jcarousel-prev-disabled-horizontal,
.jcarousel-wc-bigsize .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-wc-bigsize .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-wc-bigsize .jcarousel-prev-disabled-horizontal:active
{cursor: default; background-position: -96px 0;}
